@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family:'Roboto';
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}